[Unit]
Description=PiWars Robot Software

[Service]
ExecStart=/home/jonathan/robot/bin/pwrs --serdev /dev/ttyS0

[Install]
WantedBy=multi-user.target

